Homework01/Homework01/bin
Homework01/Homework01/obj
Homework01/.vs/Homework01/FileContentIndex
Homework01/.vs/Homework01/v17
Homework01/.vs/Homework01/DesignTimeBuild/.dtbcache.v2
Homework01/.vs/ProjectEvaluation/homework01.metadata.v7.bin
Homework01/.vs/ProjectEvaluation/homework01.projects.v7.bin
